body {
    margin: 0;
    padding: 0;
}
.page-wrapper {
    margin-left: 60px;
    margin-right: 60px;
    background-color: #1F2937;
}
.outer-container {
    display: flex;
    /* border: 2px solid slateblue; */
}

.inner-container {
    display: flex;
    justify-content: flex-start;
    /* border: 1px solid black; */
    margin: 5px;
}

.inner-container2 {
    margin-left: auto; /* Aligns this container to the right */
    display: flex;
    align-items: center; /* Align items inside this container to the right */
    /* border: 1px solid red;  */
    padding: 5px; /* Adjust as needed */
    justify-content: flex-end;
}

.item {
    font-size: 24px;
    color: #F9FAF8;
}
.item1 {
    margin-left: 50px;
    font-size: 18px;
    color: #E5E7EB;
}

.logo-img {
    max-width: 100%; /* Ensures the image doesn't exceed the width of its container */
    height: 50px; /* Maintains the aspect ratio */
    display: block; /* Ensures it behaves as a block element */
}